input{
    float: right;
}

#message-input-box{
    height:10vh;
}

#submit-button{
    height:10%;
    width:30%;
    display: block;
    margin: 0 auto;
}

#form-wrapper{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30vw;
    height: 50vh;
    margin: auto;
    border: 2px solid black;
    padding: 2%;
}